    <script type="text/javascript">
        $(document).ready( function(){
            console.log($('.preloader'));
            $('.preloader').remove();
        });        
    </script>
    </body>
</html>